.popup_overlay_450_225{:id => "note_#{note.id}"}
  %p
    %strong Client:
    = note.chart.client.full_name
  %p
    %strong Date:
    = note.date.strftime("%m/%d/%Y")
  %p
    %strong Details:
    = note.details
  %p
    %strong Tags:
    - unless note.tags.blank?
      %ul{:id => 'tags'}
        - note.tags.each do |tag|
          %li= tag.name
    - else
      None

  %p
    = link_to "Edit", edit_note_path(note)