- title "Notes"

%table
  %tr
    %th Client
    %th Date
    %th Details
  - for note in @notes
    %tr
      %td= note.chart.client.full_name
      %td= note.date.strftime("%m/%d/%Y")
      %td= note.details
      %td= link_to 'Show', note
      %td= link_to 'Edit', edit_note_path(note)
      %td= link_to 'Destroy', note, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Note", new_note_path
