- title "Chart Note"

%p
  %strong Client:
  - unless @note.chart.client.blank?
    = @note.chart.client.full_name
  - else
    None
%p
  %strong Date:
  = @note.date.strftime("%m/%d/%Y")
%p
  %strong Details:
  = simple_format h(@note.details)
%p
  %strong Tags:
  %ul{:id => 'tags'}
    - @note.tags.each do |tag|
      %li= tag.name
%p
  %strong File:
  - unless @note.document.blank? or @note.document.file.blank?
    = link_to @note.document.file, @note.document.file.url, :target => :blank
  - else
    None

%p
  = link_to "Edit", edit_note_path(@note)
  |
  = link_to "Destroy", @note, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "Back to Chart", @note.chart
  =# link_to "View All", notes_path