- model_class = Client
.page-header
  %h1
    %i.icon-user
    = "Patient - #{@client.full_name}"

.container
  .row-fluid
    .span12
      .tabbable
        %ul.nav.nav-pills
          %li.active
            %a{:href => '#info', :data => {:toggle => "tab"}}
              %i.icon-list
              Information
          %li
            %a{:href => '#chart', :data => {:toggle => "tab"}}
              %i.icon-list-alt
              Chart
      .tab-content.span10
        .tab-pane.active{:id => 'info'}
          = render :partial => 'personal_info'
        .tab-pane{:id => 'chart'}
          .row-fluid
            .tabbable
              - unless @client.chart.blank?
                %ul.nav.nav-tabs
                  - @client.chart.notes.sort_by{|n| [n.date]}.reverse.each do |note|
                    %li{:class => note == @client.chart.notes.last ? "active" : ""}
                      %a{:href => "#note_#{note.id}", :data => {:toggle => "tab"}}
                        = note.date.strftime("%m/%d/%Y")
              .tab-content
                = render :partial => 'chart_notes'


.form-actions
  = link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn'
