%div{:style => "height: 300px !important;overflow: scroll;"}
  %table.table.table-striped.table-hover
    %tbody
      - @notes.each do |note|
        %tr
          %td= link_to truncate(note.details, :length => 40), "#note" + note.id.to_s, "data-toggle" => "modal", :type => "button"
        %div{:id => "note" + note.id.to_s, :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            %strong= "#{note.chart.client.full_name}"
          .modal-body
            .span6
              %p
                = note.details
          .modal-footer
            = link_to 'Show more', note_path(note), :class => 'btn btn-success'
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"