%div{:style => "height: 300px !important;overflow: scroll;"}
  %table.table.table-striped{"data-provides" => "rowlink"}
    %tbody
      - @tags.each do |tag|
        %tr{"data-toggle" => "modal", :href => "#tag#{tag.id.to_s}"}
          %td{:style => 'display:none;'}= link_to "Show", "#tag#{tag.id.to_s}", :href => "#tag#{tag.id.to_s}", "data-toggle" => "modal"
          %td= tag.name
        %div{:id => "tag" + tag.id.to_s, :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "x", '#', :class => "close", "data-dismiss" => "modal"
            %strong= "#{tag.name}"
          .modal-body
            .span6
              - unless tag.notes.blank?
                %strong Notes with this tag:
                - tag.notes.each do |note|
                  %p
                    = link_to truncate(note.details, :length => 80), note_path(note)
              - else
                This tag has not been assigned
          .modal-footer
            = link_to 'Show more', tag_path(tag), :class => 'btn btn-success'
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"