= f.label :date, "Date"
= f.date_select :date
= f.label :details, "Note details"
= f.text_area :details
= f.label :tag_names, "Tags"
= f.text_field :tag_names, :id => 'tags'


%script
  var tags = "#{@tags.join(',')}";
  $('#tags').tagit({availableTags: tags.split(',')});