- model_class = Chart
.page-header
  %h1
    %i.icon-list-alt
    =t '.title', :default => model_class.model_name.human.pluralize

.container
  .pagination-centered
    = form_tag charts_path, :class => "form-inline", :method => :get do
      = text_field_tag :q, nil, :style => 'height:35px; font-size:large;', :class => 'span5', :value => params[:q], :placeholder => "Search charts by patient or note details"
      = button_tag(:type => 'submit', :class => 'btn btn-large btn-success') do
        %i.icon-search
  = paginate @search
  - unless @search.results.blank?
    %table.table.table-striped{"data-provides" => "rowlink"}
      %thead
        %tr
          %th= "Patient"
          %th= "Recent Note"
      %tbody
        - @search.results.each do |result|
          %tr
            %td= result.client.full_name
            - unless result.notes.blank?
              %td= truncate(result.notes.last.details, :length => 30)
            - else
              %td= 'None'
            %td{:style => 'display:none;'}= link_to "Show", chart_path(result)
          