%h3
  = @chart.client.full_name + " " + "Chart"
  - unless @chart.client.dob.blank?
    %br
    = "DOB: #{@chart.client.dob.strftime("%m/%d/%Y")}"
.tags_box
  #right{:style => "text-align: right;"}
    = link_to_function "Multiple Tags &#8711;".html_safe, "$('#multiple_tags').toggle(); $(this).toggle();", :id => 'down_arrow', :title => 'Show multiple tag filter', :class => 'tooltip'
    =# link_to "New Tag", new_tag_path, :title => "Create new Tag", :class => 'right tooltip'
  #multiple_tags{:style => "display: none; text-align: right"}
    = link_to_function "Multiple Tags &#916;".html_safe, "$('#down_arrow').toggle(); $('#multiple_tags').toggle();", :title => 'Hide multiple tag filter', :class => 'tooltip'
    = form_tag @chart, :method => 'get' do
      = label_tag 'tags', 'Select one or more tags to filter on', :style => "margin: 5px;"
      = select_tag 'tags', options_from_collection_for_select(@tags, "id", "name"), :multiple => true
      = submit_tag "Filter", :style => "margin: 5px; width: 70px"
  #single_tags
    - if params[:tag].blank? and params[:tags].blank?
      %strong
        All
    - else
      %p= link_to 'All', @chart
    - @tags.each do |tag|
      - if (!params[:tag].blank? and params[:tag] == tag.name) or (!params[:tags].blank? and params[:tags].include?(tag.id.to_s))
        %p
          %strong= tag.name
      - else
        %p= link_to tag.name, chart_path(@chart, :tag => tag.name)
.notes_box
  %p{:style => "text-align: right;"}
    = link_to "New Note", '#', :rel => "#popup_new", :title => "Create new Chart Note", :class => 'popup right tooltip'
    = render :partial => 'notes/popup_new', :locals => {:chart => @chart, :note => Note.new}
  %p
    - unless @notes.blank?
      - @notes.each do |note|
        %p{:style => "margin-top: 2px; margin-bottom: 1px;"}= note.date.strftime("%m/%d/%Y")
        %p{:style => "margin-top: 2px; margin-bottom: 1px;"}= link_to truncate(note.details, :length => 80), '#', :rel => "#note_" + note.id.to_s, :title => "View Chart Note details", :class => "popup tooltip"
        = render :partial => 'notes/popup_show', :locals => {:note => note}
        - note.tags.each do |tag|
          - unless tag == note.tags.last
            = link_to tag.name + ',', tag, :style => "color: #be1839;"
          - else
            = link_to tag.name, tag, :style => "color: #be1839;"
        %br
        %br
    - else
      None
    = paginate @notes

- if false
  %p
    = link_to "Edit", edit_chart_path(@chart)
    |
    = link_to "Destroy", @chart, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", charts_path
    |
    = link_to "New Note", new_note_path(:chart => @chart)

=# javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
=# javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"
= javascript_include_tag "jquery.tools.min.js"
=# javascript_include_tag "jquery.tooltip.js"

%script
  $(".popup").overlay(); $('.tooltip').tooltip({track: true,delay: 0,showURL: false,opacity: 0.7});