- model_class = Chart
.page-header
  %h1
    %i.icon-list-alt
    = "Chart - #{@chart.client.full_name}"

.container
  .row-fluid
    .span12
      .tabbable
        %ul.nav.nav-pills
          %li.active
            %a{:href => "#notes", :data => {:toggle => "tab"}}
              %i.icon-pencil
              Notes
          %li
            %a{:href => "#chart_documents", :data => {:toggle => "tab"}}
              %i.icon-file
              Documents
      .tab-content
        .tab-pane.active{:id => 'notes'}
          .row-fluid
            .tabbable
              %ul.nav.nav-tabs
                - @chart.notes.sort_by{|n| [n.date]}.reverse.each do |note|
                  %li{:class => note == @chart.notes.last ? "active" : ""}
                    %a{:href => "#note_#{note.id}", :data => {:toggle => "tab"}}
                      = note.date.strftime("%m/%d/%Y")
            .tab-content
              = render :partial => 'chart_notes'
        .tab-pane{:id => 'chart_documents'}
          = render :partial => 'chart_documents'

          - if false
            .file_loading_spinner{:style => "display:none;", :id => "spinner"}
              = image_tag("loading.gif", :id => "loading_spinner", :alt => "Loading")
            = form_for Document.new, :html => {:multipart => true} do |f|
              = f.error_messages
              = f.hidden_field :documentable_id, :value => current_user.id
              = f.hidden_field :documentable_type, :value => User.name
              %div{:id => 'uploads', :style => 'display:block;'}
                %p Drag & drop picture files onto this page, or choose files by clicking on button below.
                %p= f.file_field :file, multiple: true, name: "document[file]"
              #documents

              .clear
              %script{:id => "template-upload", :type => "text/x-tmpl"}
                .upload
                  {%=o.name%}
                  .progress
                    .bar{:style => "width: 0%"}

