- model_class = Chart
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:client_id) + ':'
  %br
  = @chart.client_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), charts_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_chart_path(@chart), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), chart_path(@chart), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
