- title "Tag"

%p
  %strong Name:
  = @tag.name

%p
  %strong Patients:
- @tag.notes.each do |note|
  %p= note.chart.client.full_name

%p
  = link_to "Edit", edit_tag_path(@tag)
  |
  = link_to "Destroy", @tag, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", tags_path
